<body>
  <div class="centered"><h1 class="intro">Welcome To Tavel!</h1></div><br>
</body>
<footer class="page-footer font-small blue">
  <div class="footer-container">
    <div class="footer-links">
      <div class="footer-link-wrapper">
        <div class="footer-link-items">
          <h2>About Us</h2>
          <p style="text-align: right; color: white;">&copy; 2011 Travel</p>
        </div>
        <div class="footer-link-items">
          <h2>Contact</h2>
          <a><i class="fa fa-phone" aria-hidden="true"></i> Mobile:+355656766</a>
          <a
            ><i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email:travel@gmail.com</a
          >
        </div>
        <div class="footer-link-items">
          <h2>Social Media</h2>
          <a
            ><i class="fa fa-facebook-official" aria-hidden="true"></i>
            Facebook:  Travel.al</a
          >
          <a><i class="fa fa-instagram" aria-hidden="true"></i> Instagram:  Travel.al</a>
          <a><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin:  Travel.al</a>
        </div>
      </div>
    </div>
  </div>
</footer>